<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-col>
          <ion-row> <h1 id="cv_title">Allan Tijou</h1></ion-row>
          <ion-row
            ><p>
              IUT de Metz BUT Informatique 3ème année <br />
              Option réalisation d'application
            </p></ion-row
          >
          <ion-row>Recherche de stage </ion-row>
          <ion-row
            ><p>
              Je suis actuellement à la recherche d'un stage en développement
              informatique, pour une durée de 16 à 20 semaines pour le 26
              février.
            </p></ion-row
          >
        </ion-col>
        <ion-col>
          <ion-img src="../../assets/img/allan_le_bg.jpg"> </ion-img>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-row><h1>Experience</h1></ion-row>
        <ion-row
          ><strong
            >Stage /développeur Web, Réalisation de solution e-commerce</strong
          ></ion-row
        >
        <ion-row> ... </ion-row>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
